@tailwind base;
@tailwind components;
@tailwind utilities;

.maxWidth {
  max-width: 1250px !important;
  /* padding: 0 20px !important; */
}

.btn {
  background-color: #e5745d;
  color: #fff;

  border: 2px solid #fff;
  width: 173px;
  height: 55px;
  flex-shrink: 0;
  color: #fff;

  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  outline: #fff;
}

.borders {
  border: 4px solid red;
}

.primary {
  color: #e5745d;
}
.secondary {
  color: #00413d;
}

.heading-baner-text {
  color: #fff;
  font-family: Vollkorn;
  font-style: normal;
  font-weight: 700;
}

.banner-paragraph-text {
  color: rgba(255, 255, 255, 0.5);
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
